<div style="height: 20vw;">
    <div class="col-md-2">
        <figure class="figure">
            <img style="width: 15vw;" src="https://res.cloudinary.com/dqmbrjl7jfs/image/upload/v1615249747/restaurant%20segurity/webcam_qnhwpw.jpg"
                class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">Camara de Seguridad</figcaption>
        </figure>
    </div>
    <div class="col-md-10 ">
        <div class="d-flex align-items-center justify-content-center" style="height: 15vw;">
            <h2 style="font-size: 6vw;" class="text-center">Camara de Seguridad</h2>
        </div>
    </div>
</div>